{{yield}}
{{!-- <div local-class="prod-sales-content" id="prod-sales">
	<p local-class='title'> <span>{{line.title}}</span> <span>{{line.time}}</span></p>
	<div local-class="overview" class="row">
		<div class="col-md-8 col-sm-8 col-xs-8" local-class="total-left">
			<p local-class="current-mo">{{line.currentMonth}}</p>
			<div local-class="raito">
				<div local-class="left">
					<span>￥{{line.curMoSales}}</span><span>Mil</span>
				</div>
				<div local-class="right">
					<p>同比<span local-class="growth">+{{line.yearYear}}%</span></p>
					<p>环比<span local-class="growth">+{{line.ring}}%</span></p>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-4" local-class="total-right">
			<p><span>合计</span><span >￥{{line.totle}}</span></p>
			<p><span>月平均</span><span local-class="growth">￥{{line.ave}}</span></p>
		</div>
	</div>
</div> --}}
