{{data-choose activeCo=true}}
<div local-class='block-area1'>
    <div local-class='market-show'>
        <span local-class="show-title">市场选择：</span>
        <p>{{market}}</p>
    </div>

    <div local-class="time-show">
        <span local-class="show-title">时间选择：</span>
        <p>{{time}}</p>
    </div>
    <div local-class="change-item">
        {{#bs-modal open=markTime onSubmit=(action "submit") onHidden=(action (mut markTime) false) as |modal|}}
        {{#modal.header}}
        <h4 class="modal-title">修改筛选条件</h4>
        {{/modal.header}}
        {{#modal.body}}
        <div local-class='market-choose-area'>
            <span local-class="title">市场选择：</span>
            <select local-class="choose-market" name="markets" onchange={{ action 'getMarket' value="target.value"}}>
                {{#each markets as |item|}}
                <option value={{item}}>{{item}}</option>
                {{/each}}
            </select>
        </div>
        <div local-class="time-selects">
            <span>时间选择：</span>
            <select local-class="choose-market" name="markets" onchange={{ action 'getYear' value="target.value"}}>
                {{#each years as |item|}}
                <option value={{item}}>{{item}}</option>
                {{/each}}
            </select>
            <select local-class="choose-market" name="markets" onchange={{ action 'getMonth' value="target.value"}}>
                {{#each months as |item|}}
                <option value={{item}}>{{item}}</option>
                {{/each}}
            </select>
        </div>
        {{/modal.body}}
        {{#modal.footer}}
        {{#bs-button onClick=(action modal.close)}}取消{{/bs-button}}
        {{#bs-button type="success" onClick=(action modal.submit ) }}保存{{/bs-button}}
        {{/modal.footer}}
        {{/bs-modal}}
        {{#bs-button local-class="change" onClick=(action (mut markTime) true)}} 修改筛选条件{{/bs-button}}
    </div>
</div>

<div local-class='block-area2'>
    {{!-- <div class='col-md-4' local-class='block-area2-a'>
    </div>
    <div class='col-md-4' local-class='block-area2-b'>
    </div>
    <div class='col-md-4' local-class='block-area2-c'>
    </div> --}}
    {{#each cards as |item|}}
    {{sales-word card=item}}
    {{/each}}
</div>

<div local-class='block-area3'>
    <p local-class="market-title">
        <span>{{trendTitle.title}}</span>
        <span>{{trendTitle.timeStart}}{{trendTitle.timeOver}}{{trendTitle.area}}</span>
    </p>
    {{multi-line-market threeLinesData=multiData}}
</div>

<div local-class='block-area4'>
    {{!-- <div class='col-md-4' local-class='block-area4-a'>
    </div>
    <div class='col-md-4' local-class='block-area4-b'>
    </div>
    <div class='col-md-4' local-class='block-area4-c'>
    </div>
    <div class='col-md-4' local-class='block-area4-d'>
    </div> --}}
    {{#each words as |item|}}
    {{most-word card=item}}
    {{/each}}
</div>

<div local-class='block-area5'>
    {{!-- <div class='col-md-6' local-class='block-area5-a'>
    </div>
    <div class='col-md-6' local-class='block-area5-b'>
    </div> --}}
</div>

<div local-class='block-area6'>
</div>

<div local-class='block-area6'>
</div>