{{data-choose activeCo=true}}
<div local-class='block-area1'>
    <div local-class='market-show'>
        <span local-class="show-title">{{t 'biDashboard.common.marketChoose' }}:</span>
        <p>{{market}}</p>
    </div>

    <div local-class="time-show">
        <span local-class="show-title">{{t 'biDashboard.common.timeChoose' }}:</span>
        <p>{{time}}</p>
    </div>
    <div local-class="change-item">
        {{#bs-modal open=markTime onSubmit=(action "submit") onHidden=(action (mut markTime) false) as |modal|}}
        {{#modal.header}}
        <h4 class="modal-title">{{t 'biDashboard.common.changeFilterCondition' }}</h4>
        {{/modal.header}}
        {{#modal.body}}
        <div local-class='market-choose-area'>
            <span local-class="title">{{t 'biDashboard.common.marketChoose' }}:</span>
            <select local-class="choose-market" name="markets" id="select-market" onchange={{ action 'getMarket' value="target.value"}}>
                {{#each markets as |item|}}
                <option value={{item}}>{{item}}</option>
                {{/each}}
            </select>
        </div>
        <div local-class="time-selects">
            <span>{{t 'biDashboard.common.timeChoose' }}:</span>
            <select local-class="choose-market" name="markets" id="select-year" onchange={{ action 'getYear' value="target.value"}}>
                {{#each years as |item|}}
                <option value={{item}}>{{item}}</option>
                {{/each}}
            </select>
            <select local-class="choose-market" name="markets" id="select-month" onchange={{ action 'getMonth' value="target.value"}}>
                {{#each months as |item|}}
                <option value={{item}}>{{item}}</option>
                {{/each}}
            </select>
        </div>
        {{/modal.body}}
        {{#modal.footer}}
        {{#bs-button onClick=(action modal.close)}}{{t 'biDashboard.common.cancel' }}{{/bs-button}}
        {{#bs-button type="success" onClick=(action modal.submit ) }}{{t 'biDashboard.common.save' }}{{/bs-button}}
        {{/modal.footer}}
        {{/bs-modal}}
        {{#bs-button local-class="change" onClick=(action (mut markTime) true)}} {{t 'biDashboard.common.changeFilterCondition' }}{{/bs-button}}
    </div>
</div>

<div local-class='block-area2'>
    {{#each cards as |item|}}
    {{sales-word card=item}}
    {{/each}}
</div>

<div local-class='nopadding multi-line'>
    <p local-class="market-title">
        <span>{{trendTitle.title}}</span>
        <span>{{trendTitle.timeStart}}&nbsp;{{t 'biDashboard.common.dateTo' }}&nbsp;{{trendTitle.timeOver}}&nbsp;{{trendTitle.area}}</span>
    </p>
    {{multi-line-market threeLinesData=multiData}}
</div>

<div local-class='block-area4'>
    {{#each words as |item|}}
    {{most-word card=item}}
    {{/each}}
</div>

<div local-class='block-area5'>
    <div class="col-md-6 col-sm-12" local-class="nopadding legend-pie-container">
        <div local-class="inside">
            <p local-class="pie-title">
                <span>{{shareTitle.title}}</span>
                <span>{{shareTitle.subtitle}}&nbsp;{{shareTitle.area}}</span>
            </p>
            {{legend-pie-sales pieData=pieValue}}
        </div>

    </div>
    <div class="col-md-6 col-sm-12" local-class="nopadding horizontal-histogram">
        <div local-class="inside">
            <p local-class="his-title"><span>{{t 'biDashboard.common.prodRankChange' }}</span><span>{{time}}&nbsp;{{t 'biDashboard.country.wholeCountry' }}</span></p>
            <p local-class="choose-type"><span>{{t 'biDashboard.common.dataType' }}:</span>
                <select class="" name="" onchange={{ action 'queryRank' value="target.value"}}>
                    {{#each RankdataType as |item|}}
                    <option value={{item}}>
                        {{item}}
                        {{!-- ({{unit}}) --}}
                        </option>
                    {{/each}}
                </select>
            </p>
            <div local-class="share" class="container-fluid">
                <div class="col-md-6 col-sm-6 col-xs-6">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="row">
                        {{#each rankingRange as |item|}}
                        <span class="col-md-2 col-sm-2 col-xs-2">{{item}}{{unit}}</span>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div local-class="histogram">
                {{#each ranking as |item|}}
                {{pord-histogram data=item theMax=rankingMax}}
                {{/each}}
            </div>
        </div>
    </div>
</div>

<div local-class='competing-products-table'>
    <p local-class="table-title"><span>{{competingTitle.title}}</span><span>{{competingTitle.subtitle}}&nbsp;{{competingTitle.area}}</span></p>
    {{self-table model=competingValue columns=competingColumn selfheight='250px'}}
</div>

<div local-class='nopadding choose-line'>
    <p local-class="trend-title">
        {{!-- <span>各产品销售趋势分析</span> --}}
        <span>{{trendTitle.title}}</span>
        <span>{{trendTitle.timeStart}}&nbsp;{{t 'biDashboard.common.dateTo' }}&nbsp;{{trendTitle.timeOver}}&nbsp;{{trendTitle.area}}</span>
    </p>
    <p local-class="choose-type">
        <span>{{t 'biDashboard.common.dataType' }}:</span>
        <select class="" name="" onchange={{ action 'queryTrend' value="target.value"}}>
            {{#each trendData as |item|}}
            <option value={{item}}>{{item}}</option>
            {{/each}}
        </select>
    </p>
    {{line-mulit-choose chooseData=AllTrendValue}}
</div>