{{yield}}
<div local-class="data-choose">
	<div local-class="left">
		<span local-class={{if activeOv 'active'}}>
			{{#link-to 'data-center'}}
				{{t 'biDashboard.common.saleDataOverview' }}
			{{/link-to}}
			</span>
		<span local-class= {{if activeCo 'active'}}>
			{{#link-to 'data-center.country'}}
				{{t 'biDashboard.common.countryLevAnalysis' }}
			{{/link-to}}
			{{!-- 全国层面分析 --}}
		</span>
		<span local-class= {{if activePr 'active'}}>
			{{#link-to 'data-center.province'}}
				{{t 'biDashboard.common.provinceLevAnalysis' }}
			{{/link-to}}
			{{!-- 省份层面分析 --}}
		</span>
		<span local-class= {{if activeCi 'active'}}>
			{{#link-to 'data-center.city'}}
				{{t 'biDashboard.common.cityLevAnalysis' }}
			{{/link-to}}
			{{!-- 城市层面分析 --}}
		</span>
	</div>
	<div local-class="right">
		<button type="button" name="button">{{t 'biDashboard.common.moreCustomizedContent' }}</button>
	</div>
</div>
