
{{yield}}

<div local-class="contain" class="col-md-4 col-sm-6">
    <div local-class="inside-contain">
        <div local-class="title">
            <p>{{card.title}}</p>
        </div>
        <div local-class="date">
            <p>{{card.subtitle}}</p>
        </div>
        <div local-class="city">
            <p>• &nbsp;{{card.city}}</p>
        </div>
        <div local-class="key-word">
            <div local-class="word-o">
                <p>￥ {{card.num}} <span>Mil</span> </p>
            </div>
            <div local-class="word-t">
                {{!-- <p>市场名</p> --}}
            </div>
        </div>
        <div local-class="trend">
            <div local-class="trend-left">
                <div local-class="data">
                    <p>同比</p>
                </div>
                <div local-class="show">
                    <p>{{card.yearOnYear}}</p>
                </div>
            </div>
            <div local-class="trend-right">
                <div local-class="data">
                    <p>环比</p>
                </div>
                <div local-class="show">
                    <p>{{card.ringRatio}}</p>
                </div>
            </div>
        </div>
    </div>

</div>
