

<div class="col-md-4 col-sm-4 col-xs-12">
    {{key-words title=title data=data city=city}}
</div>
<div class="col-md-4 col-sm-4 col-xs-12">
    {{key-words title=title data=data city=city}}
</div>
<div class="col-md-4 col-sm-4 col-xs-12">
    {{key-words title=title data=data city=city}}
</div>


<div class="col-md-4 col-sm-4 col-4 col-xs-12">
    {{sales-word}}
</div>
<div class="col-md-4 col-sm-4 col-4 col-xs-12">
    {{sales-word}}
</div>
<div class="col-md-4 col-sm-4 col-4 col-xs-12">
    {{sales-word}}
</div>



<div local-class="tables">
    {{self-table model=columnsHospitalValue columns=columnsHospital selfheight='480px'}}
</div>


{{outlet}}
