{{!-- <div class="form-group">
    {{#each nums as |num|}}
        <div class="checkbox">
            <label for="{{num.value}}">
                {{input type="checkbox" id=num.value checked=num.check}} {{num.value}}
            </label>
        </div>
    {{/each}}
</div>
<button type="submit" class="btn btn-success" {{action "submitNum"}}>提交</button>

<div class="">
    <button type="button" name="button" {{action 'go'}}>go</button>
</div>
{{log option}} --}}
{{!-- <div class=""> --}}
    {{!-- <dl>
        <dt>进度条：</dt>
        <dt>{{circle-progress eid="circle-progress" option=option}}</dt>
    </dl> --}}

    {{!-- <dl>
        <dt>医院样本数量：</dt>
        <dt>{{sample-line-and-bar chartsName="医院样本" option=hospitalOption eid="sample-hospital-number-line-and-bar"}}</dt>
    </dl>

    <dl>
        <dt>产品样本数量：</dt>
        <dt>{{sample-line-and-bar chartsName="产品样本" option=productOption eid="sample-product-number-line-and-bar"}}</dt>
    </dl>

    <dl>
        <dt>销售样本数量：</dt>
        <dt>{{sample-line-and-bar chartsName="销售样本" option=salesOption eid="sample-sales-number-line-and-bar"}}</dt>
    </dl>

    <dl>
        <dt>趋势：</dt>
        <dt>{{result-trend-line-and-bar option=trendOption eid="result-trend-line-and-bar"}}</dt>
    </dl>

    <dl>
        <dt>镜像图：</dt>
        <dt>{{result-mirror-bar option=mirrorOption eid="result-mirror-bar"}}</dt>
    </dl>

    <dl>
        <dt>地图：</dt>
        <dt>{{result-map option=mapOption eid="result-map"}}</dt>
    </dl> --}}
{{!-- </div> --}}
{{lay-date}}
