{{yield }}
<div local-class="data-market" >
	<div local-class='market-show'>
		<span local-class="show-title">省份选择：</span>
		<p>北京市</p>
	</div>
    <div local-class="status">
        <p>——选择单一省份，查看省份销售详细数据</p>
    </div>
	<div local-class="change-item">
		 {{!-- 修改筛选条件 --}}
		{{#bs-modal open=modal3  onHidden=(action (mut modal3) false) as |modal|}}
		  {{#modal.header}}
			<h4 class="modal-title">
				修改筛选条件
			</h4>
		  {{/modal.header}}
		  {{#modal.body}}
		  <div local-class={{if showMarkerChoose 'market-choose-area' 'market-hidden'}}>
			  <span local-class="title">省份选择</span>
			  <select local-class="choose-market" name="markets" onchange= {{ action 'getProv' value="target.value"}}>
				  {{#each provs as |item|}}
					  <option value={{item}}>{{item}}</option>
				  {{/each}}
			  </select>
		  </div>
		  {{/modal.body}}
		  {{#modal.footer}}
			{{#bs-button onClick=(action modal.close)}}取消{{/bs-button}}
			{{#bs-button type="success" onClick=(action modal.submit)}}保存{{/bs-button}}
		  {{/modal.footer}}
		{{/bs-modal}}
		{{#bs-button local-class="test" onClick=(action (mut modal3) true)}} 修改筛选条件{{/bs-button}}
	</div>
</div>
