{{!-- {{outlet}} --}}
{{!-- {{data-choose activeCo=true}} --}}
{{!-- {{pie-chart }} --}}
{{data-choose activeCo=true}} {{date-market-choose showMarkerChoose=true market=markets}}

{{!-- {{line-prod-sales }} --}}

<div class="container-fluid" local-class="nopadding">
	{{#each cards as |item|}}
		{{sales-word card=item}}
	{{/each}}
</div>

{{line-multi }}

<div class="container-fluid" local-class="nopadding">
	{{#each words as |item|}}
		{{most-word card=item}}
	{{/each}}
</div>

<div class="con">
    <div class="col-md-6 col-sm-12" local-class="nopadding">
        {{pie-chart pieValue=pieValue pieColor=pieColor}}
    </div>
    <div class="col-md-6 col-sm-12" local-class="nopadding">
        {{line-prod-sales line=prodSalesOverview tableData=prodSalesTable}}
    </div>
</div>

<div local-class="table-li">
    {{self-table titleInfo=titleInfo model=ProdSalesValue columns=ProdSales selfheight='230px'}}
</div>

{{line-prod-sales line=prodSalesOverview tableData=prodSalesTable}}
