{{!-- {{outlet}} --}}
{{!-- {{data-choose activeCo=true}} --}}
{{data-choose activeCo=true}} {{!-- {{line-prod-sales }} --}}

	<div class="container-fluid" local-class="nopadding">
		{{#each cards as |item|}}
			{{sales-word card=item}}
		{{/each}}
	</div>

	<div class="container-fluid" local-class='nopadding multi-line'>
		{{!-- {{line-mulit-choose }} --}}
		<p local-class="market-title"><span>市场&产品趋势</span><span>{{time}}</span></p>
		{{multi-line-market mulitLineData=multiData}}
	</div>


	<div class="container-fluid" local-class="nopadding">
		{{#each words as |item|}}
			{{most-word card=item}}
		{{/each}}
	</div>

	<div class="container-fluid" local-class="pie-histogram">
		<div class="col-md-6 col-sm-12" local-class="nopadding legend-pie-container">
			<div local-class="inside">
				<p local-class="pie-title"><span>各产品份额</span><span>{{time}}</span></p>
				{{legend-pie-sales pieData=pieValue}}
			</div>

		</div>
		<div class="col-md-6 col-sm-12" local-class="nopadding horizontal-histogram">
			<div local-class="inside">
				<p local-class="his-title"><span>各产品份额</span><span>{{time}}</span></p>
				<p local-class="choose-type"><span>数据类型：</span> <select class="" name="">
					<option value="">aa</option>
					<option value="">bb</option>
				</select> </p>
				<div local-class="histogram">
					<div local-class="share" class="container-fluid">
						<div class="col-md-4 col-sm-4 col-xs-4">
						</div>
						<div class="col-md-8 col-sm-8 col-xs-8">
							<div class="row">
								{{#each rankingRange as |item|}}
									<span class="col-md-2 col-sm-2 col-xs-2">{{item}}k</span>
								{{/each}}
							</div>
						</div>
					</div>
					{{#each ranking as |item|}}
						{{pord-histogram data=item}}
					{{/each}}
				</div>
			</div>
			{{!-- {{line-prod-sales line=prodSalesOverview tableData=prodSalesTable}} --}}
		</div>
	</div>

	<div local-class="competing-products-table">
		<p local-class="table-title"><span>市场竞品销售概况</span><span>{{time}}</span></p>
		{{self-table titleInfo=titleInfo model=ProdSalesValue columns=ProdSales selfheight='270px'}}
	</div>
	{{!-- {{line-mulit-choose }} --}}
	{{!-- {{line-prod-sales line=prodSalesOverview tableData=prodSalesTable}} --}}
