{{data-choose activeOv=true}}
<div local-class="data-market">
	<div local-class="time-show">
		<span local-class="show-title">{{t 'biDashboard.common.timeChoose' }}:</span>
		<p>{{time}}</p>
	</div>
	<div local-class="change-item">
		{{!-- 修改筛选条件 --}}
		{{#bs-modal open=modal3 onSubmit=(action "submit") onHidden=(action (mut modal3) false) as |modal|}}
			{{#modal.header}}
				<h4 class="modal-title">
					{{t 'biDashboard.common.changeFilterCondition' }}
				</h4>
			{{/modal.header}}
			{{#modal.body}}
				<div local-class="time-selects">
					<span>{{t 'biDashboard.common.timeChoose' }}:</span>
					<select local-class="choose-market" name="markets" id="select-year" onchange={{ action 'getYear' value="target.value"}}>
						{{!-- <option value="2018">2018</option> --}}
						{{#each years as |item|}}
							<option value={{item}}>{{item}}</option>
						{{/each}}
					</select>
					<select local-class="choose-market" name="markets" id="select-month" onchange={{ action 'getMonth' value="target.value"}}>
						{{!-- <option value="All">04</option> --}}
						{{#each months as |item|}}
							<option value={{item}}>{{item}}</option>
						{{/each}}
					</select>
				</div>
			{{/modal.body}}
			{{#modal.footer}}
				{{#bs-button onClick=(action modal.close)}}{{t 'biDashboard.common.cancel' }}{{/bs-button}}
				{{#bs-button type="success" onClick=(action modal.submit ) }}{{t 'biDashboard.common.save' }}{{/bs-button}}
			{{/modal.footer}}
		{{/bs-modal}}
		{{#bs-button local-class="change" onClick=(action (mut modal3) true)}} {{t 'biDashboard.common.changeFilterCondition' }}{{/bs-button}}
	</div>
</div>
<div class="container-fluid" local-class="nopadding line-sales">
	<p local-class='title'>
		<span>{{prodSalesTitle.title}}</span>
		<span>{{prodSalesTitle.timeStart}}&nbsp;{{t 'biDashboard.common.dateTo' }}&nbsp;{{prodSalesTitle.timeOver}}</span>
	</p>
	<div local-class="overview" class="row">
		<div class="col-md-8 col-sm-8 col-xs-8" local-class="total-left">
			<p local-class="current-mo">{{prodSalesTitle.currentMonth}}</p>
			<div local-class="raito">
				<div local-class="left">
					<span>￥{{prodSalesTitle.curMoSales}}</span><span>{{t 'biDashboard.common.million' }}</span>
				</div>
				<div local-class="right">
					<p>{{t 'biDashboard.index.yearOnYear' }}<span local-class="growth">+{{prodSalesTitle.yearYear}}%</span></p>
					<p>{{t 'biDashboard.index.ringRatio' }}<span local-class="growth">+{{prodSalesTitle.ring}}%</span></p>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-4" local-class="total-right">
			<p><span>{{t 'biDashboard.index.total' }}</span><span>￥{{prodSalesTitle.totle}}</span></p>
			<p><span>{{t 'biDashboard.index.monthlyAverage' }}</span><span local-class="growth">￥{{prodSalesTitle.ave}}</span></p>
		</div>
	</div>
	{{line-prod-sales singleLineData=prodSalesLine}}
</div>
<div class="container-fluid" local-class="nopadding key-words">
	{{#each cards as |item|}}
		{{key-words card=item}}
	{{/each}}
</div>
<div local-class="table-persales">
	<p local-class="pie-title"><span>{{titleInfo.title}}</span><span>{{titleInfo.subtitle}}</span></p>
	{{self-table model=prodSalesValue columns=prodSales selfheight='300px'}}
</div>
<div class="container-fluid" local-class="nopadding pie-table">
	<p local-class="pie-title">
		<span>{{contTitle.title}}</span>
		<span>{{contTitle.subtitle}}</span>
	</p>
	{{pie-chart pieData=pieValue }}
	{{legend-table model=prodContValue columns=prodCont selfheight='310px'}}
</div>