{{yield}}
<div local-class="data-market">
	<div local-class= {{if showMarkerChoose 'market-show' 'market-hidden'}}>
		<span local-class="show-title">市场选择：</span>
		<p>{{market}}</p>
	</div>

	<div local-class="time-show">
		<span local-class="show-title">时间选择：</span>
		<p>{{chooseTime}}</p>
	</div>
	<div local-class="change-item">
		{{!-- 修改筛选条件 --}}
		{{#bs-modal open=modal3 onSubmit=(action "submit") onHidden=(action (mut modal3) false) as |modal|}}
			{{#modal.header}}
				<h4 class="modal-title">
				修改筛选条件
			</h4>
			{{/modal.header}}
			{{#modal.body}}
				<div local-class= {{if showMarkerChoose 'market-choose-area' 'market-hidden'}}>
					<span local-class="title">市场选择：</span>
					<select local-class="choose-market" name="markets" onchange= {{ action 'getValue' value="target.value"}}>
					 	<option value="All">全部</option>
						{{#each market as |item|}}
							<option value={{item}}>{{item}}</option>
						{{/each}}
			    	</select>
				</div>
				<div local-class="time-selects">
					<span>时间选择：</span>
					<select local-class="choose-market" name="markets" onchange= {{ action 'getValue' value="target.value"}}>
						<option value="All">2018</option>
						{{#each market as |item|}}
							<option value={{item}}>{{item}}</option>
						{{/each}}
					</select>
					<select local-class="choose-market" name="markets" onchange= {{ action 'getValue' value="target.value"}}>
						<option value="All">04</option>
						{{#each market as |item|}}
							<option value={{item}}>{{item}}</option>
						{{/each}}
					</select>
				</div>
			{{/modal.body}}
			{{#modal.footer}}
				{{#bs-button onClick=(action modal.close)}}取消{{/bs-button}}
				{{#bs-button type="success" onClick=(action modal.submit ) }}保存{{/bs-button}}
			{{/modal.footer}}
		{{/bs-modal}}
		{{#bs-button local-class="change" onClick=(action (mut modal3) true)}} 修改筛选条件{{/bs-button}}
	</div>
</div>
