{{yield}}
<div local-class="data-market" >
	<div local-class={{if showMarkerChoose 'market-choose-area' 'market-hidden'}}>
		<span local-class="title">市场选择：</span>
		<select local-class="choose-market" name="markets">
			<option value="All">全部</option>
			{{log market}}
			{{#each market as |item|}}
				<option value={{item}}>{{item}}</option>
			{{/each}}
		</select>
	</div>

	<div local-class="time-selects">
		<span>时间选择：</span>
		{{!-- {{bootstrap-datepicker value=defaultDate}} --}}
		{{bootstrap-datepicker  value=defaultDate autoclose=true minViewMode=1 format="mm/yyyy" keyboardNavigation=true language="zh-CN"}}
	</div>
	<div local-class="change-item">
		修改筛选条件
	</div>
</div>
