{{!-- {{outlet}} --}}
{{data-choose activeOv=true}}
{{date-market-choose showMarkerChoose=false market=markets}}
<div class="container-fluid" local-class="nopadding line-sales">
	<p local-class='title'> <span>{{prodSalesOverview.title}}</span> <span>{{prodSalesOverview.time}}</span></p>
	<div local-class="overview" class="row">
		<div class="col-md-8 col-sm-8 col-xs-8" local-class="total-left">
			<p local-class="current-mo">{{prodSalesOverview.currentMonth}}</p>
			<div local-class="raito">
				<div local-class="left">
					<span>￥{{prodSalesOverview.curMoSales}}</span><span>Mil</span>
				</div>
				<div local-class="right">
					<p>同比<span local-class="growth">+{{prodSalesOverview.yearYear}}%</span></p>
					<p>环比<span local-class="growth">+{{prodSalesOverview.ring}}%</span></p>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-4" local-class="total-right">
			<p><span>合计</span><span>￥{{prodSalesOverview.totle}}</span></p>
			<p><span>月平均</span><span local-class="growth">￥{{prodSalesOverview.ave}}</span></p>
		</div>
	</div>
	{{line-prod-sales tableData=prodSalesTable}}
</div>

<div class="container-fluid" local-class="nopadding">
	{{#each cards as |item|}}
		{{key-words card=item}}
	{{/each}}
</div>

<div local-class="table-persales">
	<p local-class="pie-title"><span>{{titleInfo.title}}</span><span>{{titleInfo.subtitle}}</span></p>
	{{self-table model=prodSalesValue columns=prodSales selfheight='300px'}}
</div>

<div class="container-fluid" local-class="nopadding pie-table">
	<p local-class="pie-title"><span>{{contTitle.title}}</span><span>{{contTitle.subtitle}}</span></p>
	{{pie-chart pieData=pieValue }} {{legend-table model=prodContValue columns=prodCont selfheight='310px'}}
</div>
	{{!-- {{line-prod-sales line=prodSalesOverview}}  --}}
