<div local-class="step-content-wrapper">
    <div local-class="step-left">
        <p>
            {{#unless filecpa }}
                <span>请上传CPA文件</span>
                <span>(仅支持：excel)</span>
            {{else}}
                <span>CPA文件</span>
                <span>(仅支持：excel)</span>
            {{/unless}}
        </p>
        <div local-class="upload-area">
            <div local-class="dropzone-upload-area" class= {{concat 'upload ' (if dropzone.active 'active')}}>
                {{#unless filecpa }}
                    <img src="../assets/images/cpa.png" alt="">
                {{else}}
                    <img src="../assets/images/cpadone.png" alt="">
                {{/unless}}
            </div>

            {{#file-upload name="file-cpa" multiple=false onfileadd=(action "uploadCpaFile") accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" as |queue|}}
                {{#if queue.files.length}}
                    <div local-class="upload-progress-container">
                        <div local-class="upload-progress">
                            {{#bs-progress as |p|}}
                                {{p.bar value=queue.progress minValue=0 maxValue=100 showLabel=true type='success' striped=true animate=true}}
                            {{/bs-progress}}
                        </div>
                    </div>
                {{else}}
                    {{#unless filecpa }}
                        <span local-class="click-upload"><a>选择文件</a></span>
                    {{else}}
                        <span local-class="click-upload">
                            {{#if filecpa}} {{filecpa}} {{/if}}
                            <a local-class="delete" {{action "deleteCpaFile"}}>删除文件</a>
                        </span>
                    {{/unless}}
                {{/if}}
            {{/file-upload}}
        </div>
    </div>

    <div local-class="step-right">
        <p>
            {{#unless filegycx }}
                <span>请上传国药诚信文件</span>
                <span>(仅支持：excel)</span>
            {{else}}
                <span>国药诚信文件</span>
                <span>(仅支持：excel)</span>
            {{/unless}}
        </p>

        <div local-class="upload-area">
            <div local-class="dropzone-upload-area" class= {{concat 'upload ' (if dropzone.active 'active')}}>
                {{#unless filegycx }}
                        <img src="../assets/images/gycx.png" alt="">
                    {{else}}
                        <img src="../assets/images/gycxdone.png" alt="">
                {{/unless}}
            </div>
            {{#file-upload name="file-gycx" multiple=false onfileadd=(action "uploadGycxFile") accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" as |queue|}}
                {{#if queue.files.length}}
                    <div local-class="upload-progress-container">
                        <div local-class="upload-progress">
                            {{#bs-progress as |p|}}
                                {{p.bar value=queue.progress minValue=0 maxValue=100 showLabel=true type='success' striped=true animate=true}}
                            {{/bs-progress}}
                        </div>
                    </div>
                {{else}}
                    {{#unless filegycx }}
                        <span local-class="click-upload"><a>选择文件</a></span>
                    {{else}}
                        <span local-class="click-upload">
                            {{#if filegycx}} {{filegycx}} {{/if}}
                            <a local-class="delete" {{action "deleteGycxFile"}}>删除文件</a>
                        </span>
                    {{/unless}}
                {{/if}}

                {{!-- {{#if filegycx}} {{filegycx}} {{/if}}
                {{#unless filegycx }}
                    <a>选择文件</a>
                {{else}}
                    <a local-class="delete" {{action "deleteGycxFile"}}>删除文件</a>
                {{/unless}}
                {{#if queue.files.length}}
                    <div local-class="upload-progress">
                        {{#bs-progress as |p|}}
                            {{p.bar value=queue.progress minValue=0 maxValue=100 showLabel=true type='success' striped=true animate=true}}
                        {{/bs-progress}}
                    </div>
                {{/if}} --}}
            {{/file-upload}}
        </div>
    </div>
    {{#if isDisabled}}
        <button {{action 'pleaseUploadFile'}} class="btn-default-max" local-class="to-generate-sample" type="button" name="btn-second-step">下一步</button>
    {{else}}
        {{!-- {{#link-to "adddata.generate-sample"}}
            <button local-class={{unless isDisabled "useable" }} class="btn-default-max" local-class="to-generate-sample" type="button" name="btn-second-step">下一步</button>
        {{/link-to}} --}}
        <button {{action 'next'}} local-class={{unless isDisabled "useable" }} class="btn-default-max" local-class="to-generate-sample" type="button" name="btn-second-step">下一步</button>

    {{/if}}

</div>
{{#bs-modal-simple
        fade=false
        closeButton=false
        keyboard=false
        open=remindUploadFile
        title="提示"
        closeTitle="确定" onHidden=(action (mut remindUploadFile) false)}}
  <p>请上传文件</p>
{{/bs-modal-simple}}

{{#bs-modal-simple
        fade=false
        closeButton=false
        keyboard=false
        open=uploadError
        title="提示"
        closeTitle="确定" onHidden=(action (mut uploadError) false)}}
  <p>{{errorMessage}}</p>
{{/bs-modal-simple}}

{{!-- {{yield}} --}}
