{{!-- {{outlet}} --}}
{{data-choose activePr=true}}
	{{!-- {{date-market-choose showMarkerChoose=true market=markets}} --}}
	<div class="container-fluid" local-class="data-market">
		<div local-class='market-show'>
			<span local-class="show-title">市场选择：</span>
			<p>{{market}}</p>
		</div>

		<div local-class="time-show">
			<span local-class="show-title">时间选择：</span>
			<p>{{time}}</p>
		</div>
		<div local-class="change-item">
			{{!-- 修改筛选条件 --}}
			{{#bs-modal open=modal3 onSubmit=(action "submit") onHidden=(action (mut modal3) false) as |modal|}}
				{{#modal.header}}
					<h4 class="modal-title">
				修改筛选条件
			</h4>
				{{/modal.header}}
				{{#modal.body}}
					<div local-class='market-choose-area'>
						<span local-class="title">市场选择：</span>
						<select local-class="choose-market" name="markets" onchange= {{ action 'getMarket' value="target.value"}}>
					 	{{!-- <option value="All">全部</option> --}}
						{{#each markets as |item|}}
							<option value={{item}}>{{item}}</option>
						{{/each}}
			    	</select>
					</div>
					<div local-class="time-selects">
						<span>时间选择：</span>
						<select local-class="choose-market" name="markets" onchange= {{ action 'getYear' value="target.value"}}>
						{{!-- <option value="All">2018</option> --}}
						{{#each years as |item|}}
							<option value={{item}}>{{item}}</option>
						{{/each}}
					</select>
						<select local-class="choose-market" name="markets" onchange= {{ action 'getMonth' value="target.value"}}>
						{{!-- <option value="All">04</option> --}}
						{{#each months as |item|}}
							<option value={{item}}>{{item}}</option>
						{{/each}}
					</select>
					</div>
				{{/modal.body}}
				{{#modal.footer}}
					{{#bs-button onClick=(action modal.close)}}取消{{/bs-button}}
					{{#bs-button type="success" onClick=(action modal.submit ) }}保存{{/bs-button}}
				{{/modal.footer}}
			{{/bs-modal}}
			{{#bs-button local-class="change" onClick=(action (mut modal3) true)}} 修改筛选条件{{/bs-button}}
		</div>
	</div>
	<div class="container-fluid" local-class="nopadding">
		{{#each cards as |item|}}
			{{key-words card=item}}
		{{/each}}
	</div>
	<div class="container-fluid">
		{{mixed-graph mixedGraphData=mixedGraphData}}
	</div>

	{{!-- {{line-prod-sales line=prodSalesOverview tableData=prodSalesTable}} --}}

	<div local-class="table-sales">
		{{!-- <p local-class="con-title"><span>市场各省份销售概况</span><span>{{time}}</span></p> --}}
		<p local-class="con-title"><span>{{competingTitle.title}}</span><span>{{time}}</span></p>
		{{self-table model=marketSalesValue columns=MarketSales selfheight='300px'}}
	</div>

	<div class="container-fluid" local-class="pie-histogram">
		<div class="col-md-6 col-sm-12" local-class="nopadding legend-pie-container">
			<div local-class="inside">
				<p local-class="pie-title">
					<span>{{marketTitle.title}}</span>
					<span>{{marketTitle.subtitle}}</span>
				</p>
				{{legend-pie-sales-prov pieData=marketSalesPie}}
			</div>
		</div>
		<div class="col-md-6 col-sm-12" local-class="nopadding horizontal-histogram">
			<div local-class="inside">
				<p local-class="his-title"><span>省份层面排行</span><span>{{time}}</span></p>
				<p local-class="choose-type"><span>数据类型：</span> <select class="" name="">
				<option value="">产品市场份额</option>
				<option value="">销售额</option>
			</select> </p>
				<div local-class="histogram">
					<div local-class="share" class="container-fluid">
						<div class="col-md-6 col-sm-6 col-xs-6">
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="row">
								{{#each rankingRange as |item|}}
									<span class="col-md-2 col-sm-2 col-xs-2">{{item}}{{unit}}</span>
								{{/each}}
							</div>
						</div>
					</div>
					{{#each ranking as |item|}}
						{{pord-histogram-prov data=item theMax=rankingMax}}
					{{/each}}
				</div>
			</div>
			{{!-- {{line-prod-sales line=prodSalesOverview tableData=prodSalesTable}} --}}
		</div>
	</div>
	{{!-- <div local-class="nopadding" class="container-fluid" >
    <div class="col-md-6 col-sm-12" local-class="nopadding">
        {{pie-chart pieValue=pieValue pieColor=pieColor}}
    </div>
    <div class="col-md-6 col-sm-12" local-class="nopadding">
        {{line-prod-sales line=prodSalesOverview tableData=prodSalesTable}}
    </div>
</div> --}}

	{{province-choose showMarkerChoose=true market=markets}}

		<div class="container-fluid" local-class="nopadding">
			{{#each sales as |item|}}
				{{sales-word card=item}}
			{{/each}}
		</div>
		<div class="container-fluid" local-class='nopadding multi-line'>
			<p local-class="market-title"><span>{{trendTitle.title}}</span><span>{{trendTitle.timestart}}{{trendTitle.timeover}}{{trendTitle.area}}</span></p>

			{{multi-line-market mulitLineData=prodTrend}}
		</div>
		{{!-- {{line-prod-sales line=prodSalesOverview tableData=prodSalesTable}} --}}

		<div class="container-fluid" local-class="nopadding">
			{{#each words as |item|}}
				{{most-word card=item}}
			{{/each}}
		</div>

		<div class="container-fluid" local-class="pie-histogram">
			<div class="col-md-6 col-sm-12" local-class="nopadding legend-pie-container">
				<div local-class="inside">
					<p local-class="pie-title">
						<span>{{marketTitle.title}}</span>
						<span>{{marketTitle.subtitle}}</span>
					</p>
					{{legend-pie-sales pieData=marketShare}}
				</div>
			</div>
			<div class="col-md-6 col-sm-12" local-class="nopadding horizontal-histogram">
				<div local-class="inside">
					<p local-class="his-title"><span>各产品排名变化</span><span>{{time}}</span></p>
					<p local-class="choose-type"><span>数据类型：</span>
						<select class="" name="">
							<option value="">份额</option>
							<option value="">销售额</option>
						</select>
					</p>
					<div local-class="histogram">
						<div local-class="share" class="container-fluid">
							<div class="col-md-4 col-sm-4 col-xs-4">
							</div>
							<div class="col-md-8 col-sm-8 col-xs-8">
								<div class="row">
									{{#each rankingRange as |item|}}
										<span class="col-md-2 col-sm-2 col-xs-2">{{item}}{{unit}}</span>
									{{/each}}
								</div>
							</div>
						</div>
						{{#each ranking as |item|}}
							{{pord-histogram data=item theMax=rankingMax}}
						{{/each}}
					</div>
				</div>
				{{!-- {{line-prod-sales line=prodSalesOverview tableData=prodSalesTable}} --}}
			</div>
		</div>
		<div local-class="table-sales">
			<p local-class="con-title"><span>{{competingTitle.title}}</span><span>{{competingTitle.subtitle}}</span></p>
			{{self-table model=competingProdValue columns=competingProd selfheight='300px'}}
		</div>


		{{!-- {{line-prod-sales line=prodSalesOverview tableData=prodSalesTable}} --}}
