{{!-- {{outlet}} --}}
{{data-choose activePr=true}} {{date-market-choose showMarkerChoose=true market=markets}}

	<div class="container-fluid" local-class="nopadding">
		{{#each cards as |item|}}
			{{key-words card=item}}
		{{/each}}
	</div>
	<div class="container-fluid">
		{{mixed-graph }}
	</div>

	{{!-- {{line-prod-sales line=prodSalesOverview tableData=prodSalesTable}} --}}

	<div local-class="table-sales">
		<p local-class="con-title"><span>市场各省份销售概况</span><span>{{time}}</span></p>
		{{self-table model=marketSalesValue columns=MarketSales selfheight='300px'}}
	</div>
	<div class="container-fluid" local-class="pie-histogram">
		<div class="col-md-6 col-sm-12" local-class="nopadding legend-pie-container">
			<div local-class="inside">
				<p local-class="pie-title"><span>市场销售组成</span><span>{{time}}</span></p>
				{{legend-pie-sales pieData=marketSalesPie}}
			</div>

		</div>
		<div class="col-md-6 col-sm-12" local-class="nopadding horizontal-histogram">
			<div local-class="inside">
				<p local-class="his-title"><span>各产品份额</span><span>{{time}}</span></p>
				<p local-class="choose-type"><span>数据类型：</span> <select class="" name="">
				<option value="">份额</option>
				<option value="">销售额</option>
			</select> </p>
				<div local-class="histogram">
					<div local-class="share" class="container-fluid">
						<div class="col-md-4 col-sm-4 col-xs-4">
						</div>
						<div class="col-md-8 col-sm-8 col-xs-8">
							<div class="row">
								{{#each rankingRange as |item|}}
									<span class="col-md-2 col-sm-2 col-xs-2">{{item}}k</span>
								{{/each}}
							</div>
						</div>
					</div>
					{{#each ranking as |item|}}
						{{pord-histogram data=item}}
					{{/each}}
				</div>
			</div>
			{{!-- {{line-prod-sales line=prodSalesOverview tableData=prodSalesTable}} --}}
		</div>
	</div>
	{{!-- <div local-class="nopadding" class="container-fluid" >
    <div class="col-md-6 col-sm-12" local-class="nopadding">
        {{pie-chart pieValue=pieValue pieColor=pieColor}}
    </div>
    <div class="col-md-6 col-sm-12" local-class="nopadding">
        {{line-prod-sales line=prodSalesOverview tableData=prodSalesTable}}
    </div>
</div> --}}

	{{province-choose showMarkerChoose=true market=markets}}

		<div class="container-fluid" local-class="nopadding">
			{{#each sales as |item|}}
				{{sales-word card=item}}
			{{/each}}
		</div>
		<div class="container-fluid" local-class='nopadding multi-line'>
			{{!-- {{line-mulit-choose }} --}}
			<p local-class="market-title"><span>各产品份额</span><span>{{time}}</span></p>

			{{multi-line-market mulitLineData=marketProd}}
		</div>
		{{!-- {{line-prod-sales line=prodSalesOverview tableData=prodSalesTable}} --}}

		<div class="container-fluid" local-class="nopadding">
			{{#each words as |item|}}
				{{most-word card=item}}
			{{/each}}
		</div>

		<div class="container-fluid" local-class="pie-histogram">
			<div class="col-md-6 col-sm-12" local-class="nopadding legend-pie-container">
				<div local-class="inside">
					<p local-class="pie-title">
						<span>各产品份额</span>
						<span>{{time}}</span>
					</p>
					{{legend-pie-sales pieData=marketShare}}
				</div>
			</div>
			<div class="col-md-6 col-sm-12" local-class="nopadding horizontal-histogram">
				<div local-class="inside">
					<p local-class="his-title"><span>各产品排名变化</span><span>{{time}}</span></p>
					<p local-class="choose-type"><span>数据类型：</span>
						<select class="" name="">
							<option value="">份额</option>
							<option value="">销售额</option>
						</select>
					</p>
					<div local-class="histogram">
						<div local-class="share" class="container-fluid">
							<div class="col-md-4 col-sm-4 col-xs-4">
							</div>
							<div class="col-md-8 col-sm-8 col-xs-8">
								<div class="row">
									{{#each rankingRange as |item|}}
										<span class="col-md-2 col-sm-2 col-xs-2">{{item}}k</span>
									{{/each}}
								</div>
							</div>
						</div>
						{{#each ranking as |item|}}
							{{pord-histogram data=item}}
						{{/each}}
					</div>
				</div>
				{{!-- {{line-prod-sales line=prodSalesOverview tableData=prodSalesTable}} --}}
			</div>
		</div>
		<div local-class="table-sales">
			<p local-class="con-title"><span>各产品份额</span><span>{{time}}</span></p>
			{{self-table model=competingProdValue columns=competingProd selfheight='300px'}}
		</div>


		{{!-- {{line-prod-sales line=prodSalesOverview tableData=prodSalesTable}} --}}
